.main-section {
  background: url(../img/main-photo.jpg) no-repeat center top/cover;
  width: 100%;
 }

.main-overlay {
  background: rgba(0,236,250,0.7);
  height: 100vh;
  overflow-y: hidden;
}

.main-content {
  width: 1180px;
  margin: 0 auto;
  display: flex;
}

.main-logo {
  img {
      width: 280px;
      margin-top: 150px;
      margin-left: 110px;
  
  }
}

.main-text {
  margin-top: 50px;
  font-family: 'Catamaran', sans-serif;
  font-size: 36px;
  color: #333333;
  line-height: 30px;
  width: 500px;
  text-align: center;
  
  letter-spacing: 5px;
 
}


.cont{position:relative;top:200px}
/* ================================ */


.mouse {
    border: 2px solid #2e4546;
    border-radius: 13px;
    bottom: 20px;
    display: block;
    height: 46px;
    left: 50%;
    margin: 0 auto 0 -26px;
    position: fixed;
    width: 26px;
}
.mouse span {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: scroll;
    background: none repeat scroll 0 0 #2e4546;
    border: 1px solid transparent;
    border-radius: 4px;
    display: block;
    height: 4px;
    margin: 6px auto;
    width: 4px;
}
@keyframes scroll {
0% {
    opacity: 1;
    transform: translateY(0px);
}
100% {
    opacity: 0;
    transform: translateY(20px);
}
}





// ELINGUAGE SECTION



.elinguage-content {
  width: 1180px;
  height: 100vh;
  position: relative;
  top: 75px;
  margin: 0 auto;

  .mouse {
    bottom: 100px;
    position: absolute;

  }
  
  

  .elinguage-title {
    color: #00a8b2;
    font-size: 30px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 900;
    text-align: center;

  }

  .elinguage-title__work {
    color: #00a8b2;
    font-size: 30px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 900;
    text-align: center;
    margin-top: 100px;
  }

  .elinguage-text {
    font-family: 'Catamaran', sans-serif;
    font-size: 15px;
    font-weight: 200;
    line-height: 10px;
    margin-left: 300px;
    margin-top: 30px;
  }
}

.elinguage-properties {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}


.elinguage__item {

  text-align: center;
  width: 220px;

  .elinguage-item__title {
    font-size: 18px;
    font-weight: 900;
    font-family: 'Catamaran', sans-serif;
    color: #00a8b2; 
  }

  .elinguage-item__text {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Catamaran', sans-serif;
 
  }
}

.elinguage-item__image {

  img {
    width: 80px;
    height: 80px;
  }
}


// FOOTER SECTION 

.footer-section {
  background: #333333;
  

  .wrapper {

    background: #1a1a1a;
    color: #333;
    text-align: center;

    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -20px;
  }
  
  label {
    display: block;
    left: 0px;
    top: 0;
    position: relative;
    width: 300px;
    height: 40px;
    z-index: 10;
    line-height: 40px;
    font-weight: bold;
    background: #303030;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    cursor: pointer;
  }
  
  label:after {
    content: "OFF";
    width: 150px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    background:  #FC6666;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    cursor: pointer;
  }
  
  #checkbox {
    display: none;
  }
  
  :checked + label {
    left: 0px;
  }
  
  :checked + label:after {
    left: 150px;
    background: #00CCFF;
    content: "ON";
  }


  .footer-content {
    width: 1180px;

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  img {
    filter: invert(2);
    width: 170px;
    margin-left: 50px;
  }

  .footer-section__contact {
    color: white;
    font-family: 'Catamaran', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: 200px;
  }

  .footer-section__contact p{
    overflow: hidden;
    
  }
  
  .footer-section__contact p:before,
  .footer-section__contact p:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 3px;
    background: white;
    border: solid #333333;
    border-width: 0 10px;
  }
  .footer-section__contact p:before {
    margin-left: -100%;
  }
  .footer-section__contact p:after {
    margin-right: -100%;
  }
}


// FORM


input[placeholder] {
  padding: 0 10px;
  font-family: 'Catamaran', sans-serif;
  
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}




.main-form {
  margin-left: 150px;
  margin-top: 100px;
}



.register-form {
  width: 350px;
}

.tab-form {
  background: #2e4546;
  padding: 10px;
  padding-bottom: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  
}



.register-form input {
  display: block;
  width: 92%;
  height: 40px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.active {
  display: none;
}

.tabs {
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  
}


label.tab {

  font-family: 'Catamaran', sans-serif;
  flex-grow: 1;
  text-align: center;

  background: #c1c7c7;
  color: black;
  font-weight: 400;
  font-size: 15px;
  padding: 15px;
  

  display: block;
  cursor: pointer;
  margin-bottom: 0;


}

label.tab.active {
  background-color: #2e4546;
  color: #ffffff;
}


.tab-form button {
  display: inline-block;
  width: 100%;
  height: 40px;
  text-align: center;
  background: #ff6600;
  text-decoration: none;
  color: #2e4546ed;
  border: none;
  font-family: 'Catamaran', sans-serif;
  font-weight: 900;
  font-size: 25px;
  padding-bottom: 10px;
  cursor: pointer;
}

.tab-form button:hover {
  background: white;
}

.tab-form p {
  height: 40px;
  margin-top: -5px;
  color: white;
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: 15px;
}


.tab-form  input{
  font-family: 'Catamaran', sans-serif;
  font-size: 15px;
  outline: none;
 
}




@media (max-width: 1200px) {
  .main-content {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 300px;

    .main-logo img {
      width: 150px;
      margin-top: 20px;
      margin-left: 175px;
    }

    .main-text {
      margin-top: 20px;
    
    font-size: 20px;
  
    line-height: 10px;

    letter-spacing: 5px;
    margin-bottom: 100px;
    }
  }

  .main-logo {
    margin: 0 auto;
  }
  .register-form {
    width: 300px;
  }
  .main-form {
    margin: 0 auto;
    margin-top: -50px;
  }
  #fp-nav ul, .fp-slidesNav ul:before {
    margin-right: -17px;
  }


  .elinguage-content {

    width: 100%;
    top: 0;
    
    .elinguage-text {
      
      display: none;
    }

    .elinguage-title {
      display:none; 
    }

    .elinguage-properties {
      flex-wrap: wrap;
      align-items: center;
    }
    
    .elinguage-title__work {
      
      margin-top: 50px;
    }
  }

  .mouse {
    display: none;
  }

  .footer-section {
    .footer-content {
      width: 0;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
    }

    img {
      margin-left: 0px;
      margin-bottom: 50px;
    }

  }

  
}