html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px; }

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 105px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header__text {
  margin-right: auto;
  margin-left: 30px;
  color: #9a9a9a;
  font-size: 16px; }

.header__phone {
  font-weight: 500;
  font-size: 20px; }
  .header__phone a {
    color: #303030;
    text-decoration: none;
    position: relative; }
  .header__phone a:before {
    content: '';
    background-image: url(../images/phone.svg);
    width: 15px;
    height: 15px;
    position: absolute;
    left: -27px;
    top: 5px; }

.header__phone-text {
  font-weight: 400;
  font-size: 12px;
  color: #9a9a9a;
  padding-top: 3px; }

.top {
  margin-bottom: 75px; }

.top__images {
  background-image: url(../images/top-bg.jpg);
  min-height: 545px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-width: 1720px;
  margin: 0 auto; }

.top__wrapper {
  margin-top: -450px; }

.top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.top__inner-img {
  margin-left: 125px; }

.top__inner-form {
  max-width: 570px; }

.top__inner-suptitle {
  margin-top: 70px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff; }

.top__inner-title {
  font-size: 60px;
  margin-bottom: 40px;
  font-weight: 600;
  color: #fff; }

.top__inner-text {
  margin-bottom: 73px;
  color: #fff;
  font-size: 18px;
  line-height: 24px; }

.top-form {
  background-color: #fff;
  padding: 20px; }
  .top-form form {
    border: 1px solid #c8dcba;
    position: relative; }

.top-form__inner {
  padding: 50px 50px 120px 50px; }

.top-form__title {
  color: #303030;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1px;
  margin-bottom: 35px;
  font-weight: 700;
  text-transform: uppercase;
  width: 200px; }

.top-form input {
  border: none;
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid #c8dcba;
  outline: none;
  font-size: 14px;
  color: black;
  font-weight: 400;
  width: 195px; }

.top-form input + input {
  margin-left: 30px; }

.top-form input::-webkit-input-placeholder {
  color: #c8dcba; }

.top-form input:-ms-input-placeholder {
  color: #c8dcba; }

.top-form input::-ms-input-placeholder {
  color: #c8dcba; }

.top-form input::placeholder {
  color: #c8dcba; }

.top-form button {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 22px 110px 22px 70px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #7eb252;
  text-transform: uppercase;
  cursor: pointer; }
.top-form button:after {
  content: '';
  background-image: url(../images/arrow-right.png);
  width: 31px;
  height: 10px;
  position: absolute;
  right: 60px;
  top: 25px; }

.advantages {
  margin-bottom: 200px; }

.advantages__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.advantages__item {
  width: 240px;
  padding-left: 40px;
  padding-top: 35px;
  position: relative; }

.advantages__item:before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 5px solid rgba(126, 178, 82, 0.3);
  top: 0;
  left: 0; }

.advantages__item-number {
  color: #a4c58c;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  border-bottom: 3px solid #a4c58c;
  display: inline-block; }

.advantages__item-number span {
  font-size: 30px; }

.advantages__item-text {
  padding-top: 20px;
  font-size: 16px;
  line-height: 24px; }

.list__title {
  font-weight: 700;
  color: #303030;
  font-size: 40px;
  line-height: 50px;
  max-width: 470px;
  margin-bottom: 30px; }

.tabs__content {
  min-width: 500px;
  height: 689px;
  background-image: url(../images/list-images.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  margin-top: -170px; }

.list__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.tabs {
  padding-right: 20px;
  width: 100%; }

.tab {
  font-weight: 600;
  text-transform: uppercase;
  line-height: 20px;
  color: #5f5555;
  padding: 20px 0;
  border-bottom: 1px solid #e6efde;
  cursor: pointer;
  padding: 24px 40px 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .tab span {
    margin-right: 20px;
    color: #a4c58c; }

.tab.active {
  position: relative; }

.tab.active::after {
  content: "";
  position: absolute;
  background-image: url(../images/chevron.svg);
  width: 8px;
  height: 13px;
  right: 25px; }

.tab-item {
  display: none;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  height: 43px;
  width: 43px;
  border: 9px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  position: absolute;
  text-align: center;
  line-height: 25px; }

.tab-item:first-child {
  display: block; }

.item-1 {
  left: 150px;
  top: 182px; }

.item-2 {
  left: 300px;
  top: 200px; }

.item-3 {
  left: 227px;
  top: 135px; }

.item-4 {
  left: 227px;
  top: 210px; }

.item-5 {
  left: 228px;
  top: 15px; }

.item-6 {
  left: 260px;
  top: 360px; }

.item-7 {
  left: 228px;
  top: 15px; }

.item-8 {
  left: 228px;
  top: 210px; }

.item-9 {
  left: 228px;
  top: 25px; }

.tabs__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .tabs__box .tab {
    font-size: 16px;
    font-weight: 400;
    width: 50%;
    text-transform: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .tabs__box .tab span {
      font-size: 12px; }
  .tabs__box .tab:first-child, .tabs__box .tab:nth-child(3) {
    border-right: 1px solid #e6efde;
    padding-right: 24px; }
  .tabs__box .tab:last-child, .tabs__box .tab:nth-child(2) {
    padding-left: 24px; }

.tabs__box .active::after {
  display: none; }

.tabs__reviews {
  padding: 20px;
  background: #f6f9f3;
  max-width: 430px;
  position: absolute;
  bottom: 0; }

.tabs__reviews-inner {
  border: 1px solid #c5dab5;
  padding: 32px 50px 32px 40px; }

.tabs__reviews-text {
  font-size: 16px;
  color: #303030; }

.tabs__reviews-link {
  color: #7eb152;
  padding-bottom: 1px;
  font-weight: 600;
  padding: 0px 8px;
  position: absolute;
  bottom: 10px;
  background-color: #f6f9f3; }

.list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.list__link a {
  margin-top: 20px;
  padding: 22px 100px 22px 120px;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #7eb252;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  min-width: 500px;
  position: relative; }

.list__link a:after {
  content: '';
  background-image: url(../images/arrow-right.png);
  width: 31px;
  height: 10px;
  position: absolute;
  right: 100px;
  top: 30px; }

.popularity {
  padding-top: 200px; }

.popularity__wrapper {
  background-image: url(../images/popularity.jpg);
  min-height: 645px;
  max-width: 1720px;
  margin: 0 auto;
  background-repeat: no-repeat; }

.popularity__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.popularity__right {
  max-width: 500px;
  padding-right: 15px;
  width: 100%; }

.popularity__right-title {
  color: #303030;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-top: 30px; }

.popularity__right-subtitle {
  color: #303030;
  padding: 50px 0;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase; }

.popularity__right-list {
  list-style: none; }
  .popularity__right-list li {
    color: #303030;
    line-height: 22px;
    margin-bottom: 45px;
    padding-left: 40px;
    position: relative; }
  .popularity__right-list li:before {
    content: '';
    position: absolute;
    left: 0;
    width: 8px;
    height: 13px;
    background-image: url(../images/chevron.svg);
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

.popularity__box {
  background-color: white;
  padding: 20px; }

.popularity__box-text {
  border: 1px solid #c5dab5;
  padding: 30px;
  color: #303030;
  margin-right: 70px; }

/*# sourceMappingURL=style.css.map */